
@model AppynittyWebApp.ViewModels.CarrersDetailsVM

@{
    ViewData["Title"] = "Careers";
    Layout = "_AdminLayout";
}
<style>
    .danger {
        color: red !important;
    }

    .success {
        color: green !important;
    }
</style>
<h1 style="text-align:center;">Job List</h1>

<div style="display: inline-flex;">
    <p style="text-align: left; margin-right: 20px;">
        <a class="btn btn-outline-danger" asp-area="Identity" asp-controller="Careers" asp-action="Index">Back</a>
    </p>
    <p style="text-align:right;margin-right:20px;">
        <a class="btn btn-outline-primary" asp-action="AddOrEdit">Create New</a>
    </p>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                   Date
                </th>
                <th>
                    Job Title
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.NewsEng)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NewsMar)
                    </th>*@
                <th>
                    @*@Html.DisplayNameFor(model => model.IsActive)*@
                    Status
                </th>
                <th>Edit Action</th>
                <th>Details Action</th>
                <th>View Reply</th>
                @*<th>Delete Action</th>*@
            </tr>
        </thead>
        <tbody>
            @if (@Model.ListCarrersDetails != null)
            {
                @foreach (var item in @Model.ListCarrersDetails)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.JobTitle)</td>
                        <td>
                            <span @(item.IsActive == true ? "class=success" : "class=danger" )>@(item.IsActive == true ? "Active" : "InActive")</span>
                        </td>
                        <td class="text-center">
                            <a asp-action="AddOrEdit" class="btn btn-outline-primary" asp-route-Id="@item.Id">Edit</a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Details" class="btn btn-outline-info" asp-route-Id="@item.Id">Details</a>
                        </td>
                        <td class="text-center">
                            <a asp-action="ViewCV" class="btn btn-outline-info" asp-route-Id="@item.Id">View</a>
                       
                            @if(@item.CareersCount > 0)
                                {
                                    <span> <b>@item.CareersCount</b> New CV Uploded</span>
                                }
                           
                        </td>
                    </tr>
                }
            }
           
        </tbody>
    </table>
</div>