@model AppynittyWebApp.ViewModels.CareersVM

@{
    ViewData["Title"] = "Open Position";
}
<style>
    .newttl {
        list-style-type: none;
    }
</style>


<div class="container pb-5">
    <h1 class="text-center py-5">Careers Section</h1>

        <div class="row">
            @{
                var obj = ViewBag.careerslist;
            }
            <div class="col-sm-8">
                <h4>Current Opening</h4>
                @foreach (var item in obj)
                {
                    <div>
                        <heaade>
                            <div>
                                <h3>
                                    @item.JobTitle
                                </h3>
                            </div>
                        </heaade>
                        <div>
                            <span>@item.MinExp - @item.MaxExp</span>
                           
                            @if (@item.MinSalary != null)
                            {
                                <span>@item.MinSalary - @item.MaxSalary</span>
                            }
                            else
                            {
                                <span> Not disclosed</span>
                            }

                            <span>@item.JobLocation</span>
                        </div>
                        <div>
                            <p class="mb-4">@item.JobDesc</p>
                        </div>
                    </div>
                }

            </div>

            <div class="col-sm-4">
                <div>
                    <div>
                        <h3>Drop your CV here</h3>
                        <p>We will consider your Profile for future Jobs</p>
                    </div>
                    <div>
                        <a asp-action="CVSection">
                            <span>Drop CV</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


</div>



