@model AppynittyWebApp.Models.Blog
@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<div class="container p-3 my-3 border">
    <h1>Blog Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BlogsDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BlogsDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BlogsTitle)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BlogsTitle)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BlogsEng)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BlogsEng)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BlogsMar)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BlogsMar)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class="col-sm-9">
            <span id="getfilename" style="display:none;">@Html.DisplayFor(model => model.FileName)</span>
            <img id="image" src="~/BlogImages/model.FileName"
                 class="rounded-circle"
                 height="40" width="40"
                 asp-append-version="true" />
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsActive)
        </dd>


    </dl>
    <div>
        <a class="btn btn-primary" asp-action="AddOrEdit" asp-route-employeeId="@Model.Id">Edit</a>
        <a class="btn btn-danger" asp-action="Index">Back</a>
    </div>
</div>

@section Scripts {
    <script>
      
        $(document).ready(function () {
            debugger;
            var filename = document.getElementById("getfilename").innerHTML;

            document.getElementById("image").src = "/BlogImages/" + filename;
        });
    </script>
}