@model AppynittyWebApp.Models.News
@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<div class="container p-3 my-3 border">
    <h1>Employee Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NewsDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NewsDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NewsEng)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NewsEng)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NewsMar)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NewsMar)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary" asp-action="AddOrEdit" asp-route-employeeId="@Model.Id">Edit</a>
        <a class="btn btn-danger" asp-action="Index">Back</a>
    </div>
</div>