
@model IEnumerable<AppynittyWebApp.Models.News>

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}
<style>
    .danger{
        color:red !important;
    }
    .success {
        color: green !important;
    }
</style>
<h1 style="text-align:center;">News List</h1>

<div style="display: inline-flex;">
    <p style="text-align: left; margin-right: 20px;">
        <a class="btn btn-outline-danger" asp-area="Identity" asp-controller="Careers" asp-action="Index">Back</a>
    </p>
    <p style="text-align:right;margin-right:20px;">
        <a class="btn btn-outline-primary" asp-action="AddOrEdit">Create New</a>
    </p>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NewsDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewsTitle)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.NewsEng)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewsMar)
                </th>*@
                <th>
                    @*@Html.DisplayNameFor(model => model.IsActive)*@
                    Status
                </th>
                <th>Edit Action</th>
                <th>Details Action</th>
                <th>View Reply</th>
                @*<th>Delete Action</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsTitle)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.NewsEng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewsMar)
        </td>*@
                <td>
                    @*<input id="@item.IsActive" type="checkbox" name="Fruit" value="@item.IsActive" />*@

                    @*@(item.IsActive == true ? <span class="">Active</span> : <span class="">InActive</span> )*@
                    <span @(item.IsActive == true ? "class=success" : "class=danger" )>@(item.IsActive == true ? "Active" : "InActive")</span>
                </td>
                <td class="text-center">
                    <a asp-action="AddOrEdit" class="btn btn-outline-primary" asp-route-Id="@item.Id">Edit</a>
                </td>
                <td class="text-center">
                    <a asp-action="Details" class="btn btn-outline-info" asp-route-Id="@item.Id">Details</a>
                </td>
                <td class="text-center">
                    <a asp-action="NewsReply" class="btn btn-outline-info" asp-route-Id="@item.Id">View</a>
                </td>
                @*<td class="text-center">
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-Id="@item.Id">Delete</a>
                </td>*@
            </tr>
            }
        </tbody>
    </table>
</div>